table{
	margin-top:100px;
	width:650px;
	height:200px;
	border:1px solid black;
}
table tr{
	border:1px solid black;
}
table td{
	height:50px;
	width:50px;
	border:1px solid black;
}
form{
	float:left;
	margin-left:50px;
}